@media (min-width: 640px) { 
  .contentDiv {
    margin: 0 0 0 65px;
  }
  .showColumn {
    margin-left: 13.2rem;
    top:auto;
    right:auto;
    width: 13rem;
  }
}
@media (max-width: 640px) { 
  .line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: clip;
  }

  .contentDiv {
    margin: 0 0 0 0px;
  }
  .showColumn {
    margin-left:0rem;
    right:0;
    top:8.1rem;
    width: 13rem;
  }

  .scrollButtonBrief {
    display:block;
    right: 40px;
    bottom: 40px;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: opacity 1s ease-in-out;
    box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%);
    border: none;
    outline: none;
    background-color:#d4d4d4;
    border-radius: 50%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .scrollButtonBrief:hover {
    background-color:rgb(28,193,233);
  }
}