.reference-modal {
  max-width: 500px;
  padding: 20px;
  background-color: var(--white);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  box-shadow: 0px 0px 8px 0px #0000001A;
  bottom: 0;
  right: 1rem;
  position: fixed;
  height: 500px;
  width: 500px;
}