@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  --darkGrey: #454545;
  --white: #ffffff;
  --smallFont: 14px;
  --fontFamily: "Poppins", sans-serif;
  --darkRed: rgba(226, 17, 17, 0.856);
  --darkSuccess: #18da21d8;
  --darkWarning: rgba(255, 166, 0, 0.836);
}

* {
  margin: 0;
}

.main-div {
  display: inline-grid;
  padding: 10px 15px;
  background-color: var(--darkGrey);
  border-radius: 5px;
  position: fixed;
  z-index: 10000;
  top: 1rem;
  right: 1rem;
}
.main-div-progress {
  display: inline-grid;
  padding: 10px 15px;
  background-color: var(--darkWarning);
  border-radius: 5px;
  position: fixed;
  z-index: 10000;
  top: 1rem;
  right: 1rem;
}
.main-div-error {
  display: inline-grid;
  padding: 10px 15px;
  background-color: var(--darkRed);
  border-radius: 5px;
  position: fixed;
  z-index: 10000;
  top: 1rem;
  right: 1rem;
}
.main-div-success {
  display: inline-grid;
  padding: 10px 15px;
  background-color: var(--darkSuccess);
  border-radius: 5px;
  position: fixed;
  z-index: 10000;
  top: 1rem;
  right: 1rem;
}
.content-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0.5rem;
  place-items: center;
  color: var(--white);
  font-family: var(--fontFamily);
  font-size: var(--smallFont);
}

.content-grid span {
  cursor: pointer;
  margin-left: 0;
}
.hideMe {
  -webkit-animation: seconds 1s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 2s;
  animation: seconds 1s forwards;
  animation-iteration-count: 1;
  animation-delay: 2s;
}
@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
